<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

 -->
<div>

</div>
<header>
  <div class="row">
    <div class="col-3">
      <img class="logo" src="assets/icons/logo.svg"/>
    </div>
    <div class="col-6">
      <div class="search position-relative">
        <input class="" placeholder="Search"/>
        <img class="search-icon" src="assets/icons/search.svg"/>
      </div>
    </div>
    <div class="col-3">
      <div class="align-items-center d-flex flex-row justify-content-end">
        <img class="chat icon" src="assets/icons/chat-bubble.svg"/>
        <img class="menu icon" src="assets/icons/menu.svg"/>
        <img class="bell icon" src="assets/icons/notification.svg"/>
        <img class="user icon" src="assets/icons/boy.svg"/>
      </div>
    </div>
  </div>
</header>
<main>
    <div class="row">
      <div class="col-3">
        <nav>
          <div class="compose">
            <button class="btn btn-primary" type="button">compose</button>
          </div>
          <div class="folders">
            <app-folder *ngFor="let folder of folders | async" [active]="folder.active" [title]="folder.name" [unread]="folder.unread"></app-folder>
          </div>
          <div class="circles">
            <div>Circles</div>
            <app-circle *ngFor="let circle of circles | async" [name]="circle.name" [icon]="circle.icon"></app-circle>
          </div>
          <div class="add">
            <img src="../assets/icons/plus.svg"/>
            <span>Add</span>
          </div>
        </nav>
      </div>
      <div class="col-9">
        <div class="actions">
          <app-checkbox></app-checkbox>
          <img src="../assets/icons/arrow-down.svg" alt="arrow-down"/>
          <img src="../assets/icons/refresh.svg" alt="refresh"/>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
</main>