<div>
    <tabset>
      <tab>
        <ng-template tabHeading>
          <div> 
            <img src="../../../assets/icons/inbox-24px.svg"/> Primary
          </div>
        </ng-template>
        Tab 1
      </tab>
      <tab>
        <ng-template tabHeading>
          <div>
            <img src="../../../assets/icons/inbox-24px.svg"/> Primary
          </div>
        </ng-template>
        I've got an HTML heading. Pretty cool!
      </tab>
      <tab>
        <ng-template tabHeading>
          <i><b>Tab 3</b></i>
        </ng-template>
        Tab with html tags in heading
      </tab>
    </tabset>
  </div>